
body {
  background-color: #FBFBF8 !important;
  font-family: Josefin Sans !important;
  height: 100%
}

h1 {
  font-family: Josefin Sans;
  font-weight: 700 !important;
  font-size:x-large;

}

h1a {
    font-family: Josefin Sans;
    font-weight: 700 !important;
    font-size: 2.5rem;
  
}

h2 {
  font-family: Josefin Sans;
  font-weight:900
}

h3 {
  font-family: Josefin Sans;
  font-weight:900
}

.header {
    padding: 30px;
    text-align: center;
    background: #FBFBF8;
    color: black;
    font-size: 30px;
  }

.header-right {
    float: right;
  }

.header1 {
  display: table;
}

.header2 {
  display: table-cell;
  vertical-align: middle;
}

p1 {
    font-family: Josefin Sans;
    font-size:large;
    vertical-align: middle; 
    display: table-cell;
  }

button1 {
  margin-right: 1rem;
}

i {
  color: #ce0000;
}



@media screen and (max-width: 300px) {
    icon {
      visibility: hidden;
    }
  }

.navbar-custom {
    background-color: #FBFBF8;
}

.navbar-custom .navbar-brand,
        .navbar-custom .navbar-text {
            color: black;
        }

.navbar-nav .nav-link.active .navbar-text.active {
  /*background-color: #ebebdc; */
  color: grey;
}

.active {
  border-bottom: 2px !important;
  font-weight: bold !important;
  
} 

.nav a:hover {
  color: blue;
}

.btn-danger{
  background-color: #A51E1E!important;}
  

.masthead {
  background-size: cover;
  min-height: 60vh;
  position: relative;
  color: white;
  text-shadow: 2px 2px 2px 2px rgb(0, 0, 0,.2);

}

/* responsive CSS for masthead */ 
@media (max-width: 768px) {
  .masthead {
    min-height: 30vh;
  }
  h1 {
    font-size: calc(1.525rem + 3.3vw);
  }
}

.color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.2);
  
}

.outside-item2 {
  padding: 23px;
  right: 50%;
  transform: translateX(150%);
}

.outside-item {
  background-color: lightblue;
  padding: 0px;
  position: absolute;
  top: 1;
  right: -17%;
  transform: translatey(71%);
